<div class="container pt-4">
  <div class="row row-cols-1">
    <% posts.each do |post| %>
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-start">
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.get_image(50, 50), class: "rounded-circle me-3" %>
              <% end %>
              <div>
                <h6 class="card-title mb-1">
                  <%= link_to post.user.name, user_path(post.user), class: "text-dark text-decoration-none" %>
                </h6>
                <p class="card-text text-truncate">
                  <%= truncate(post.body, length: 31) %>
                </p>
              </div>
            </div>
            <div class="mt-2 d-flex">
              <div id="favorite_btn_<%= post.id %>" class="me-2">
                <%= render "public/favorites/btn", post: post %>
              </div>
              <%= link_to "詳細", post_path(post.id), class: "btn btn-sm btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>