<%= form_with model: @post, method: :patch do |f| %>
  <div class="container">
    <div class="col-12 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <div class="pt-5 px-5 d-flex justify-content-between align-items-center" style="padding-bottom: 12px;">
              <h4 class="m-0">投稿編集</h4>
              <div class="p-0 btn-sm" data-toggle="button">
                <% if @post.is_public == true %>
                  <label class="m-0 btn btn-outline-secondary" style="padding: 4px 8px;">
                    <%= f.radio_button :is_public, false, style: "display: none;"  %>
                    <span class="small">非公開にする</span>
                  </label>
                <% else %>
                  <label class="m-0 btn btn-outline-primary" style="padding: 4px 8px;">
                    <%= f.radio_button :is_public, true, style: "display: none;"  %>
                    <span class="small">公開する</span>
                  </label>
                <% end %>
              </div>
            </div>
          </tr>

          <tr>
            <td>
              <%= f.text_field :body, placeholder: "#{@post.body}", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td class="d-flex justify-content-center">
              <%= f.submit "確定", class: "btn btn-success form-control col-3" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>