<%= form_with model: @post, local: true do |f| %>
  <div class="container">
    <div class="col-12 mx-auto">
      <table class="table table-borderless">
        <tbody>

          <tr>
            <div class="pt-5 px-5 d-flex justify-content-between align-items-center" style="padding-bottom: 12px;">
              <h4 class="m-0">新規投稿</h4>
              <div class="p-0 btn-sm" data-toggle="button">
                <label class="m-0 btn btn-outline-secondary" style="padding: 4px 8px;">
                  <%= f.radio_button :is_public, false, style: "display: none;"  %>
                  <span class="small">非公開にする</span>
                </label>
              </div>
            </div>
          </tr>

          <tr>
            <td><%= f.text_field :body, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-center"><%= f.submit '投稿', class: 'btn btn-success form-control col-3' %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12 pt-5">
      <h6 class="pb-3 d-flex justify-content-center">タグを選択できます</h6>
      <div class="d-flex flex-wrap justify-content-center">
        <%= f.collection_check_boxes :post_emotions, @emotions, :id, :name do |b| %>
          <div class="m-2">
            <input type="checkbox"
                    id="emotion_<%= b.object.id %>"
                    class="btn-check"
                    autocomplete="off"
                    name="post[post_emotions][]"
                    value="<%= b.object.id %>"
            >
            <label for="emotion_<%= b.object.id %>"
                    class="m-0 btn btn-light text-center"
                    style="background-color: <%= b.object.color %>;
                            color: #212529;
                            border-radius: 5px;
                            padding: 5px 20px;
                            cursor: pointer;
                            display: inline-block;
                            width: 120px;"
            >
            <div class="d-flex justify-content-center py-0 px-2 text-muted" style="font-size: 14px; background-color: #fff; display: inline-block; border-radius: 5px; white-space:nowrap;" >
              <%= b.object.name %>
            </div>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>