<div class="mt-5">
  <h4>新規投稿</h4>
</div>

<%= form_with model: @post, local: true do |f| %>
  <div class="container">
    <div class="col-11 mx-auto">
      <div class="d-flex flex-wrap justify-content-center">
        <%= f.collection_check_boxes :post_emotions, @emotions, :id, :name do |b| %>
          <div class="m-2">
            <input type="checkbox"
                    id="emotion_<%= b.object.id %>"
                    class="btn-check"
                    autocomplete="off"
                    name="<%= b.object.name %>"
                    value="<%= b.object.id %>"
            >
            <label for="emotion_<%= b.object.id %>"
                    class="btn btn-light text-center"
                    style="background-color: <%= b.object.color %>;
                            color: #212529;
                            border-radius: 5px;
                            padding: 10px 20px;
                            cursor: pointer;
                            display: inline-block;
                            width: 100px;"
            >
            <div class="d-flex justify-content-center py-0 px-2" style="background-color: #fff; display: inline-block; border-radius: 5px; white-space:nowrap;" >
              <%= b.object.name %>
            </div>
            </label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 mx-auto">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><%= f.text_area :body, class: 'form-control' %></td>
          </tr>
          <tr>
            <td class="d-flex justify-content-center"><%= f.submit '投稿', class: 'btn btn-success form-control col-3' %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>