<div class="container p-5">
  <div>
    <%= link_to user_path(@post.user) do %>
      <%= image_tag @post.user.get_image(70, 70), class: "round-circle" %>
      <%= @post.user.name %>
    <% end %>
  </div>

  <div>
    <%= @post.body %>
  </div>

  <div class="text-muted small">
    <%= l @post.created_at %>
  </div>

  <div class="row mt-2 d-flex justify-content-around">
    <div id="favorite_btn_<%= @post.id %>" class="col-1 d-flex justify-content-center">
      <div>
        <%= render "public/favorites/btn", post: @post %>
      </div>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <div>
        <%= render "public/post_comments/btn", post: @post %>
      </div>
    </div>
    <% if @post.user == current_user %>
      <div class="col-1 d-flex justify-content-center">
        <%= link_to "編集", edit_post_path(@post) %>
      </div>
      <div class="col-1 d-flex justify-content-center">
        <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？'} %>
      </div>
      <% end %>
  </div>
</div>


<h2>コメント</h2>
<%= form_with model: [@post, @post_comment] do |f| %>
  <%= f.text_field :comment %>
  <%= f.submit "送信" %>
<% end %>

<h2>コメント一覧</h2>
<% @post_comments.each do |post_comment| %>
  <%= post_comment.user.name %>
  <%= post_comment.comment %>
<% end %>