<% messages.each do |message| %>
  <div class="card rounded-pill mb-2">
    <div class="row">
      <div class="col-1">
        <%= link_to user_path(message.user), class: "d-flex" do %>
          <%= image_tag message.user.get_image(35, 35), class: "rounded-circle mx-2" %>
        <% end %>
      </div>
      <div class="col-11 d-flex justify-content-between">
        <span class="d-flex align-items-center">
          <%= message.message %>
        </span>
        <div class="d-flex align-items-end">
          <span class="text-muted" style="font-size: 10px;">
            <%= l message.created_at, format: :long %>
              <% if message.user == current_user %>
              <%= link_to room_message_path(room, message), method: :delete, data: { confirm: '本当に削除しますか？'} do %>
                <i class="fa-solid fa-trash mx-3"></i>
              <% end %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>