<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="card p-4" style="width: 320px; border: 1px solid #ddd;">
    <div class="mb-4 d-flex justify-content-center">
      <%= link_to root_path do %>
        <%= image_tag("hitoiki-logo.png", style: "width: 100px; height: 100px;") %>
      <% end %>
    </div>

    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <% if user_signed_in? %>
        <div class="text-center">
          <span style="color: #ff5733;">ユーザーログイン中</span>
        </div>
      <% else %>
        <div class="mb-3">
          <% f.label :email %>
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control", style: "background-color: #fafafa;" %>
        </div>

        <div class="mb-3">
          <% f.label :password %>
          <%= f.password_field :password, placeholder: "パスワード", class: "form-control", style: "background-color: #fafafa;" %>
        </div>


        <div class="d-grid">
          <%= f.submit "管理者ログイン", class: "btn btn-danger form-control", style: "border-radius: 10px;" %>
        </div>
      <% end %>
    <% end %>

    <hr class="my-4">

    <div class="text-center">
      <%= link_to "Log in as a User", user_session_path, class: "btn btn-link" %>
    </div>
  </div>
</div>
<div class="text-center my-3" style="font-size: 0.8em; color: #888;">
  <span>© hogehoge All Rights Reserved</span>
</div>