<h1>DMルーム</h1>

<div>
  <% @messages.each do |message| %>
    <p><strong><%= message.user.name %>:</strong> <%= message.content %></p>
  <% end %>
</div>

<%= form_with model: [@room, @message], local: true do |f| %>
  <div>
    <%= f.text_area :content, rows: 3 %>
  </div>
  <div>
    <%= f.submit "送信" %>
  </div>
<% end %>