<div class="container">
  <div class="row">
    <div class="col gap-2">
      <%= form_with url: search_path, method: :get, class: "d-flex" do |f| %>
        <%= f.text_field :content, placeholder: "検索キーワード", class: "form-control", value: @content %>
        <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "post" }, @model), {}, {class: "form-select text-center", style: "color: #495057; border-color: #ced4da;"} %>
        <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }, @method), {}, {class: "form-select text-center", style: "color: #495057; border-color: #ced4da;"} %>
        <%= f.submit '検索', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>