<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <div class="py-2 px-2">
    <%= render 'post_user_form' %>
  </div>
  <hr>
</div>

<% if @model == 'user' %>
  <div class="container py-4">
    <div id="admin_search_users" class="row row-cols-1">
      <%= render 'admin/users/users_ajax', users: @records %>
    </div>
    <div class="d-flex justify-content-center my-4" id="admin_search_more_users_btn">
      <%= link_to_next_page @records, 'さらに読み込む', class: "btn btn-info btn-sm", remote: true, params: { controller: 'admin/searches', action: 'search' } %>
    </div>
  </div>
<% elsif @model == 'post' %>
  <div class="container py-3">
    <div id="admin_search_posts" class="row row-cols-1">
      <%= render 'admin/posts/posts_ajax', posts: @records %>
    </div>
  </div>
  <div class="d-flex justify-content-center my-4" id="admin_search_more_posts_btn">
    <%= link_to_next_page @records, 'さらに読み込む', class: "btn btn-info btn-sm", remote: true, params: { controller: 'admin/searches', action: 'search' } %>
  </div>
<% end %>