<div style="position: sticky; top: 0; background-color: white; z-index: 5; background-color: rgba(255, 255, 255, 0.9);">
  <hr class="mt-0" style="border-color: #fff;">
  <div class="py-2 px-2">
    <%= render 'form' %>
  </div>
  <hr>
</div>

<% if @model == 'user' %>
  <h5 class="text-center">ユーザー検索 "<%= @content %>"</h5>
  <%= render 'admin/users/users', users: @records %>
<% elsif @model == 'post' %>
  <h5 class="text-center">投稿検索 "<%= @content %>"</h5>
  <div class="container py-4">
    <div class="row row-cols-1">
      <%= render 'admin/posts/posts', posts: @records %>
    </div>
  </div>
<% end %>