<div>
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      <i class="fa-solid fa-mug-hot" aria-hidden="true" style="color: red;"></i>
    <% end %>
    <% if post.favorites.count > 0 %>
      <% if post.user == current_user %>
        <%= link_to favorite_users_post_favorites_path(post) do %>
          <%= post.favorites.count %>
        <% end %>
      <% else %>
        <%= post.favorites.count %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      <i class="fa-solid fa-mug-saucer" aria-hidden="true"></i>
    <% end %>
    <% if post.favorites.count > 0 %>
      <% if post.user == current_user %>
        <%= link_to favorite_users_post_favorites_path(post) do %>
          <%= post.favorites.count %>
        <% end %>
      <% else %>
        <%= post.favorites.count %>
      <% end %>
    <% end %>
  <% end %>
</div>