<div class="container mt-5">
  <h4>メールアドレスとパスワードを変更</h4>
  <p class="small text-muted">ユーザー情報の編集は<%= link_to "こちら", edit_user_path(current_user) %>から</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <% f.label :email %>
      <span>メールアドレス</span>
      <%= f.email_field :email, autocomplete: "email", placeholder: "#{current_user.email}", class: "form-control", style: "background-color: #fafafa;" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-3">
      <% f.label :password %>
      <span>パスワード(<%= @minimum_password_length %>文字以上)</span>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "変更しない場合は空白のままにして下さい", class: "form-control", style: "background-color: #fafafa;" %>
    </div>

    <div class="mb-3">
      <% f.label :password_confirmation %>
      <span>パスワード(確認用)</span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", style: "background-color: #fafafa;" %>
    </div>

    <div class="mb-3">
      <% f.label :current_password %>
      <span>現在のパスワード</span>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "情報を変更する場合は現在のパスワードを入力して下さい", class: "form-control", style: "background-color: #fafafa;" %>
    </div>

    <div class="my-5 actions d-flex justify-content-center">
      <%= f.submit "変更", class: "btn btn-success col-6 form-control", style: "border-radius: 10px;" %>
    </div>
  <% end %>
</div>

<div class="container pb-3">
  <div class="actions d-flex justify-content-center">
    <%= link_to "退会", registration_path(resource_name),class: "col-6 btn btn-danger", style: "border-radius: 10px;", data: { confirm: "退会しますか？", turbo_confirm: "退会しますか？" }, method: :delete %>
  </div>
</div>