<% post_comments.each do |post_comment| %>
  <hr>
  <div class="row d-flex">
    <div class="col-auto px-0">
      <%= link_to admin_user_path(post_comment.user), class: "d-flex" do %>
        <%= image_tag post_comment.user.get_image(50, 50), class: "rounded-circle", style: "width: 50px; height: 50px;" %>
      <% end %>
    </div>
    <div class="col">
      <div class="d-flex justify-content-between">
        <div class="my-1">
          <%= link_to post_comment.user.name, admin_user_path(post_comment.user) %>
        </div>
        <span class="text-muted small"><%= l post_comment.created_at, format: :long %></span>
      </div>
      <span class="d-flex justify-content-between">
        <%= post_comment.comment %>
        <%= link_to admin_post_post_comment_path(post_id: post_comment.post_id, id: post_comment.id), method: :delete, data: { confirm: '本当に削除しますか？'} do %>
          <i class="fa-solid fa-trash mr-2"></i>
        <% end %>
      </span>
    </div>
  </div>
<% end %>