<div class="pt-5 pl-5">
  <h4>お問い合わせ</h4>
  <span class="d-flex justify-content-end pr-5 small text-muted">
    過去のお問い合わせ一覧は
    <%= link_to "こちら", inquiries_path %>
    から
  </span>
</div>

<%= form_with model: @inquiry do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= f.select :genre, Inquiry.genres.keys.map { |key| [I18n.t("enums.inquiry.genre.#{key}"), key] }, include_blank: "ジャンルを選択してください" %></td>
            </tr>
            <tr>
              <td><%= f.text_area :body, placeholder: "1000文字まで", class: "form-control", style: "height: 300px;" %></td>
            </tr>
            <tr>
              <td class="d-flex justify-content-center"><%= f.submit '送信', class: "btn btn-success form-control col-3" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>