<div class="container pt-4">
  <div class="row">
    <div class="col-4 d-flex justify-content-center p-0">
      <%= image_tag @user.get_image(100,100), class: "rounded-circle img-fluid", style: "width: 100px; height: 100px;" %>
    </div>
    <div class="col-8 d-flex align-items-center">
      <div>
        <div class="row mx-0 mb-1 align-items-center">
          <strong class="mr-3"><%= @user.name %></strong>
        </div>
        <div class="row mx-0 mb-1">
          <span>投稿<strong><%= @user.posts.count %></strong>件</span>
          <%= link_to admin_user_followings_path(@user), class: "mx-2" do %>
            <span>
              フォロー中<strong id="followings_counter"><%= @user.followings.count %></strong>人
            </span>
          <% end %>
          <%= link_to admin_user_followers_path(@user), class: "mr-2" do  %>
            <span>
              フォロワー<strong id="followers_counter"><%= @user.followers.count %></strong>人
            </span>
          <% end %>
          <%= link_to admin_user_user_favorite_path(@user) do %>
            <span>いいねした投稿<strong><%= @user.favorited_posts.count %></strong>件</span>
          <% end %>
        </div>
        <div><%= link_to "属するメッセージルーム", rooms_admin_user_path %></div>
        <div class="row mx-0 mb-1">
          <span><%= @user.introduction %></span>
        </div>
        <div class="py-3">
          <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
            <%= f.label :ユーザーステータス, class: "pr-3" %>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "有効" %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "停止" %>
            <%= f.submit "変更", class: "ml-3 btn btn-sm btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container py-4">
      <div class="row row-cols-1">
        <%= render 'admin/posts/posts', posts: @user.posts %>
      </div>
    </div>
  </div>
</div>
