<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="container px-1">
  <div class="m-2 p-1" style="border-radius: 15px; background-color: <%= notification.checked ? '#fafafa' : '#eaffd0' %>;">
    <div class="d-flex align-items-center">
      <div>
        <span style="font-size: 13px;">
          <%= link_to user_path(visitor) do %>
            <%= image_tag visitor.get_image(25, 25), class: "rounded-circle", style: "height: 25px; width: 25px;" %>
          <% end %>
          <%# 改行がスペースを生むため、spanの中身を横一列に記述 %>
          <% case notification.action %>
          <% when 'follow' %>
            <%= link_to "#{visitor.name}さんがあなたをフォローしました", user_path(visitor), style: 'font-weight: bold;' %>

          <% when 'favorite' %>
            <%= link_to "#{visitor.name}さん", user_path(visitor), style: 'font-weight: bold;' %><%= link_to 'があなたの投稿にいいねしました', notification.post, style: 'font-weight: bold;' %>

          <% when 'post_comment' %>
            <% if notification.post.user_id == visited.id %>
              <%= link_to "#{visitor.name}さん", user_path(visitor), style: 'font-weight: bold;' %><%= link_to 'があなたの投稿にコメントしました', notification.post, style: 'font-weight: bold;' %>
            <% else %>
              <%= link_to "#{visitor.name}さん", user_path(visitor), style: 'font-weight: bold;' %><%= "が" %><%= link_to "#{notification.post.user.name}さん", user_path(notification.post.user) %><%= link_to "の投稿にコメントしました", notification.post %>
            <% end %>

          <% when 'message' %>
            <%= link_to "#{visitor.name}さん", user_path(visitor), style: 'font-weight: bold;' %><%= link_to 'からメッセージがあります', room_path(notification.message.room), style: 'font-weight: bold;' %>

          <% else %>
            <%= "通知内容が不明です" %>
          <% end %>
        </span>
      </div>
    </div>

    <% case notification.action %>
    <% when 'follow' %>
      <%= link_to user_path(visitor) do %>
        <div class="d-flex justify-content-between">
          <span class="text-muted mb-0 pl-2" style="font-size: 12px;">
            <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
            <%= Message.find_by(id: notification.message_id)&.message %>
          </span>
          <div class="text-muted text-right" style="font-size: 12px;">
            <%= time_ago_in_words(notification.created_at).upcase %>
          </div>
        </div>
      <% end %>

    <% when 'favorite' %>
      <%=  link_to notification.post do %>
        <div class="d-flex justify-content-between">
          <span class="text-muted mb-0 pl-2" style="font-size: 12px;">
            <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
            <%= Message.find_by(id: notification.message_id)&.message %>
          </span>
          <div class="text-muted text-right" style="font-size: 12px;">
            <%= time_ago_in_words(notification.created_at).upcase %>
          </div>
        </div>
      <% end %>

    <% when 'post_comment' %>
      <%= link_to notification.post do %>
        <div class="d-flex justify-content-between">
          <span class="text-muted mb-0 pl-2" style="font-size: 12px;">
            <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
            <%= Message.find_by(id: notification.message_id)&.message %>
          </span>
          <div class="text-muted text-right" style="font-size: 12px;">
            <%= time_ago_in_words(notification.created_at).upcase %>
          </div>
        </div>
      <% end %>

    <% when 'message' %>
      <%= link_to room_path(notification.message.room) do %>
        <div class="d-flex justify-content-between">
          <span class="text-muted mb-0 pl-2" style="font-size: 12px;">
            <%= PostComment.find_by(id: notification.post_comment_id)&.comment %>
            <%= Message.find_by(id: notification.message_id)&.message %>
          </span>
          <div class="text-muted text-right" style="font-size: 12px;">
            <%= time_ago_in_words(notification.created_at).upcase %>
          </div>
        </div>
      <% end %>

    <% else %>
      <span class="text-muted">通知エラー</span>
    <% end %>
  </div>
</div>