<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width: 320px; border: 1px solid #ddd;">
    <div class="mb-4 d-flex justify-content-center">
      <%= image_tag("hitoiki-logo.png", style: "width: 100px; height: 100px;") %>
    </div>

    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="mb-3">
        <% f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control", style: "background-color: #fafafa;" %>
      </div>

      <div class="mb-3">
        <% f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control", style: "background-color: #fafafa;" %>
      </div>


      <div class="d-grid">
        <%= f.submit "ログイン", class: "btn btn-primary form-control", style: "border-radius: 10px;" %>
      </div>
    <% end %>

    <hr class="my-4">

    <div class="text-center">
      <%= render "public/shared/links", class: "btn btn-link" %>
    </div>
  </div>
</div>
<div class="fixed-bottom text-center py-4" style="font-size: 0.8em; color: #888;">
  <span>© hogehoge All Rights Reserved</span>
</div>