
<div class="container mt-5">
  <h4>ユーザー情報を編集</h4>
  <p class="small text-muted">メールアドレスとパスワードの変更、アカウント削除は<%= link_to "こちら", edit_registration_path(@user) %>から</p>
  <p class="small text-muted">お問い合わせは<%= link_to "こちら", new_inquiry_path %>から</p>

  <%= form_with model: @user, method: :patch do |f| %>
    <div class="mb-3">
      <span>画像</span><br>
      <%= f.file_field :image, accept: "image/*" %>
    </div>

    <div class="mb-3">
      <span>アカウント名(20字以内)</span>
      <%= f.text_field :name, placeholder: "#{current_user.name}", class: "form-control", style: "background-color: #fafafa;" %>
    </div>

    <div class="mb-3">
      <span>自己紹介(50字以内)</span>
      <%= f.text_area :introduction, class: "form-control", style: "background-color: #fafafa;" %>
    </div>

    <div class="my-5 actions d-flex justify-content-center">
      <%= f.submit "確定", class: "btn btn-success col-6 form-control ", style: "border-radius: 10px;" %>
    </div>
  <% end %>
</div>