<h1>マイページ</h1>
<%= link_to "ユーザー情報編集", edit_user_path(@user) %>
<span>ユーザーネーム</span>
<%= @user.name %>
<span>自己紹介</span>
<%= @user.introduction %>

<% @post.each do |post| %>
  <div>
    <%= post.user.name %>
    <%= post.body %>
  </div>
<% end %>