<h1>マイページ</h1>
<%= link_to "トップに戻る", root_path %>
<%= link_to "ユーザー情報編集", edit_user_path(@user) %>
<p>ユーザーネーム</p>
<%= @user.name %>
<p>自己紹介</p>
<%= @user.introduction %>

<% @post.each do |post| %>
  <div>
    <%= post.user.name %>
    <%= post.body %>
  </div>
<% end %>