<div class="container px-0">
  <div style="height: 80vh;">
    <div class="row mx-0 pb-4 d-flex justify-content-center">
      <%= link_to admin_root_path do %>
        <%= image_tag("hitoiki-logo.png", style: "width: 70px; height: 70px;") %>
      <% end %>
    </div>
    <div  class="row mb-2 mx-0 p-2" style="font-size: 1.1rem; line-height: 1.6rem;">
      <%= link_to admin_users_path do %>
        <i class="fa-solid fa-users"></i><span> ユーザー一覧</span>
      <% end %>
    </div>
    <div  class="row mb-2 mx-0 p-2" style="font-size: 1.1rem; line-height: 1.6rem;">
      <%= link_to admin_posts_path do %>
        <i class="fa-solid fa-mug-saucer fa-lg"></i><span> 投稿一覧</span>
      <% end %>
    </div>
    <div  class="row mb-2 mx-0 p-2" style="font-size: 1.1rem; line-height: 1.6rem;">
      <%= link_to admin_emotions_path do %>
        <i class="fa-solid fa-tags"></i><span> 感情タグ一覧</span>
      <% end %>
    </div>
    <div class="row mb-2 mx-0 p-2" style="font-size: 1.1rem; line-height: 1.6rem;">
      <%= link_to admin_search_page_path do %>
        <i class="fa-solid fa-magnifying-glass fa-lg"></i><span> 検索</span>
      <% end %>
    </div>
    <div class="row mb-2 mx-0 p-2" style="font-size: 1.1rem; line-height: 1.6rem;">
      <%= link_to admin_rooms_path do %>
        <i class="fa-regular fa-comments"></i><span> DMルーム一覧</span>
      <% end %>
    </div>
    <div class="row mb-2 mx-0 p-2" style="font-size: 1.1rem; line-height: 1.6rem;">
      <%= link_to admin_inquiries_path do %>
        <i class="fa-solid fa-envelopes-bulk"></i><span> 問い合わせ一覧</span>
      <% end %>
    </div>
  </div>
  <div class="row mx-0 p-2"  style="font-size: 1.1rem; line-height: 1.6rem;">
    <%= link_to destroy_admin_session_path, method: :delete do %>
      <i class="fa-solid fa-person-walking-dashed-line-arrow-right fa-lg"></i><span> ログアウト</span>
    <% end %>
  </div>
</div>