<hr class="my-0">
<div class="py-3 px-5">
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to posts_path, class: "d-flex justify-content-center align-items-center" do %>
        <div class="d-flex justify-content-center align-items-center" style="height: 30px; width: 30px;">
          <i class="fa-solid fa-house fa-lg"></i>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to search_page_path, class: "d-flex justify-content-center align-items-center" do %>
        <div class="d-flex justify-content-center align-items-center" style="height: 30px; width: 30px;">
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to rooms_path, class: "d-flex justify-content-center align-items-center" do %>
        <div class="d-flex justify-content-center align-items-center" style="height: 30px; width: 30px;">
          <i class="fa-regular fa-paper-plane fa-lg"></i>
        </div>
      <% end %>
    </div>
    <div class="icon-notification">
      <%= render "public/notifications/icon_notification" %>
    </div>
    <div>
      <%= link_to user_path(current_user), class: "d-flex align-items-center justify-content-center" do %>
        <div class="rounded-circle" style="display: inline-block; height: 30px; width: 30px;">
          <%= image_tag current_user.get_image(30, 30), class: "rounded-circle", style: "height: 30px; width: 30px;" %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to destroy_user_session_path, method: :delete, class: "d-flex justify-content-center align-items-center" do %>
        <div class="d-flex justify-content-center align-items-center" style="height: 30px; width: 30px;">
          <i class="fa-solid fa-person-walking-dashed-line-arrow-right fa-lg"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr class="my-0" style="border-color: #fff;">