<!DOCTYPE html>
<html>
  <head>
    <title>hitoiki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/97d6fa8903.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid mx-0">
      <%# レフトバー %>
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-2 border-right p-4 vh-100" style="position: sticky; top: 0;">
            <%= render 'layouts/user_left-bar' %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="col-2 p-4 vh-100" style="position: sticky; top: 0; border-right: 1px solid #ff5733;">
            <%= render 'layouts/admin_left-bar' %>
          </div>
        <% end %>

        <%# コンテンツ %>
        <div class="<%= user_signed_in? || admin_signed_in? ? 'col-7 px-5' : 'col-12' %>">
          <% flash.each do |key, message| %>
            <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>  text-center">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>

        <%# ライトバー %>
        <% if user_signed_in? %>
          <div class="col-3 p-4 vh-100" style="position: sticky; top: 0; background-color: #f4ffff;">
            <%= render 'layouts/user_right-bar', user: current_user  %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="col-3 p-4 vh-100" style="position: sticky; top: 0; background-color: #f4ffff;">
            <%= render 'layouts/admin_right-bar' %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
