<!DOCTYPE html>
<html>
  <head>
    <title>hitoiki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# fontawesomeのため %>
    <script src="https://kit.fontawesome.com/97d6fa8903.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid mx-0">
      <div class="row d-flex" style="height: 100%;">
        <%# レフトバー %>
        <% if user_signed_in? %>
          <div class="user-left-bar col-2 border-right pt-4" style="position: sticky; top: 0; height: 100vh;">
            <%= render 'layouts/user_left-bar' %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="col-2 px-3 pt-4" style="position: sticky; top: 0; border-right: 1px solid #ff5733; height: 100vh;">
            <%= render 'layouts/admin_left-bar' %>
          </div>
        <% end %>

        <%# コンテンツ %>
        <div class="col" style="flex-grow: 1; height: 100%;">
          <% flash.each do |key, message| %>
            <div class="mb-0 alert alert-<%= key == 'notice' ? 'success' : 'danger' %> text-center">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>

        <%# ライトバー %>
        <% if user_signed_in? %>
          <div class="user-right-bar col-3 px-4 pb-4" style="position: sticky; top: 0; height: 100vh;">
            <%= render 'layouts/user_right-bar', user: current_user %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="col-3 p-4" style="position: sticky; top: 0; height: 100vh;">
            <%= render 'layouts/admin_right-bar' %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
